.table {
  overflow: hidden;
}

.params {
  display: inline;
  font-family: "Comfortaa", cursive;
  color: white; /* Make parameter titles white */
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: start;
  gap: 10px;
  padding: 5px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #bfc3c7;
  align-items: center;
  margin-top: 2px;
  color: white; /* Make other text white */
  font-family: "Comfortaa", cursive;
}

.info {
  list-style: none;
  margin-bottom: 0;
  font-family: "Comfortaa", cursive;
  color: #0a5e44; /* Make info text green */
}

/* ... rest of the CSS stays the same ... */

.button {
  justify-self: end;
  font-family: "Comfortaa", cursive;
  background-color: #0f8761;
  padding: 5px;
  padding-bottom: 2px;
  border-radius: 3px;
  color: #bfc3c7;
}

.button:disabled {
  background-color: #0a5e44;
}

.deleteButton {
  position: absolute; /* Absolute positioning within the container */
  bottom: 10px; /* Position from the bottom of the container */
  right: 10px; /* Position from the right of the container */
  font-family: "Comfortaa", cursive;
  background-color: #cd002c; /* Red background */
  color: #bfc3c7; /* Text color */
  padding: 5px;
  border-radius: 3px;
  cursor: pointer; /* Hand cursor on hover */
}

.deleteButton:hover {
  background-color: #ad0025; /* Darker red on hover */
}

.info::marker {
  content: "";
}

.button:hover {
  /* border-color: #13b07f; */
  background-color: #0a5e44;
  /* color: #0f8761; */
}
