.main {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #110e0f;
}

.table {
  width: 70vw;
  height: 50vh;
  background-color: #110e0f;
  display: inline-block;
  margin: 3rem;
  overflow-y: auto;
  position: relative;
  /* scroll-behavior: smooth; */
  /* border-radius: 17px; */
}

.header {
  /* Add a margin-bottom for spacing */
  margin: 0.3rem;
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
  text-align: left;
  color: #0f8761;

  /* border-bottom: 1px solid #bfc3c7; */
}

.header h1 {
  display: flex;
  align-items: baseline;
}
